.Cars {
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height: 1.5;
    border: 10px solid rgb(105, 105, 105);
  }

  .rent-button {
    background-color: #969191; color: black;; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 5px;
  }