.Cars {
    width: auto;
    padding: auto;
    margin: 5px;
    text-align: center;
    line-height: 1.5;
    border: 10px solid rgb(105, 105, 105);
  }

  .rent-button {
    background-color: #969191; color: black;; /* Green */
    border: 2px;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    font-size: 25px; 
    margin: 0;
    position: left;
    border-radius: 5px;
  }

  .Cars img {
    border-radius: 4px;
    padding: 10px;
    width: 500px;
    margin: 0;
    border: 3px solid #000000;
  }